USE [master]
GO
/****** Object:  Database [StoreManagement]    Script Date: 11/9/2025 12:17:29 AM ******/
CREATE DATABASE [StoreManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StoreManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVER\MSSQL\DATA\StoreManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StoreManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVER\MSSQL\DATA\StoreManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StoreManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StoreManagement]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 11/9/2025 12:17:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[Value] [decimal](18, 2) NOT NULL,
	[MinOrderAmount] [decimal](18, 2) NOT NULL,
	[UsageLimit] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[IsLocked] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([Id], [Code], [Type], [Value], [MinOrderAmount], [UsageLimit], [StartDate], [EndDate], [IsLocked]) VALUES (1, N'SUMMER25', N'percent', CAST(25.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)), 100, CAST(N'2025-06-01T00:00:00.000' AS DateTime), CAST(N'2025-06-30T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Promotions] ([Id], [Code], [Type], [Value], [MinOrderAmount], [UsageLimit], [StartDate], [EndDate], [IsLocked]) VALUES (2, N'WELCOME10', N'fixed', CAST(100000.00 AS Decimal(18, 2)), CAST(200000.00 AS Decimal(18, 2)), 50, CAST(N'2025-01-01T00:00:00.000' AS DateTime), CAST(N'2025-12-31T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Promotions] ([Id], [Code], [Type], [Value], [MinOrderAmount], [UsageLimit], [StartDate], [EndDate], [IsLocked]) VALUES (3, N'VIP50', N'percent', CAST(50.00 AS Decimal(18, 2)), CAST(1000000.00 AS Decimal(18, 2)), 10, CAST(N'2025-11-01T00:00:00.000' AS DateTime), CAST(N'2025-12-31T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Promotions_Code]    Script Date: 11/9/2025 12:17:30 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Promotions_Code] ON [dbo].[Promotions]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Promotions_IsLocked]    Script Date: 11/9/2025 12:17:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Promotions_IsLocked] ON [dbo].[Promotions]
(
	[IsLocked] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((0)) FOR [MinOrderAmount]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((0)) FOR [UsageLimit]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
USE [master]
GO
