<!-- Sidebar bên trái -->
<div class="sidebar d-flex flex-column pt-3">
    <nav class="nav flex-column mt-2">
        <a class="nav-link " href="./Account">
            <i class="bi bi-people-fill text-primary"></i>
            <span>Quản lý tài khoản</span>
        </a>
        <a class="nav-link" href="./Customer">
            <i class="bi bi-person-lines-fill text-primary"></i>
            <span>Quản lý khách hàng</span>
        </a>
        <a class="nav-link" href="./Product">
            <i class="bi bi-box-seam text-primary"></i>
            <span>Quản lý sản phẩm</span>
        </a>
        <a class="nav-link" href="./Category">
            <i class="bi bi-tags-fill text-primary"></i>
            <span>Quản lý loại sản phẩm</span>
        </a>
        <a class="nav-link active" href="./Supplier">
            <i class="bi bi-truck text-primary"></i>
            <span>Quản lý nhà cung cấp</span>
        </a>
        <a class="nav-link" href="./Promotion">
            <i class="bi bi-gift-fill text-primary"></i>
            <span>Quản lý khuyến mãi</span>
        </a>
        <a class="nav-link" href="./OrderManager">
            <i class="bi bi-receipt-cutoff text-primary"></i>
            <span>Quản lý đơn hàng</span>
        </a>
        <a class="nav-link" href="./GoodsReceiveNote">
            <i class="bi bi-journal-plus text-primary"></i>
            <span>Quản lý phiếu nhập</span>
        </a>
        <a class="nav-link" href="./Statistic">
            <i class="bi bi-bar-chart-line-fill text-primary"></i>
            <span>Thống kê</span>
        </a>
    </nav>
</div>