@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model store_management.Models.LoginViewModel

<h2>Đăng nhập</h2>

<form asp-action="Login" method="post">
    <div class="form-group mb-3">
        <label>Tên đăng nhập</label>
        <input asp-for="username" class="form-control" />
        <span asp-validation-for="username" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label>Mật khẩu</label>
        <input asp-for="password" type="password" class="form-control" />
        <span asp-validation-for="password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Đăng nhập</button>
    <p class="mt-4">
        Chưa có tài khoản?
        <a asp-controller="Account" asp-action="Register">Đăng ký ngay</a>
    </p>

    @if (ViewBag.Error != null)
    {
        <p class="text-danger mt-2">@ViewBag.Error</p>
    }
</form>

